@font-face {
  font-family: 'SFProText';
  src: local('SFProText'),
    url('../assets/fonts/SFProText-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
}

* {
  font-family: 'Poppins', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}
