@font-face {
  font-family: 'SFProText';
  src: local('SFProText'),
    url('../assets/fonts/SFProText-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url('../assets/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url('../assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url('../assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
}

* {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  color: #121c33;
}
